{% extends "base.html" %} 
    {% block title %} Home {% endblock %}

    {% block content %}
        <h1 align="center">Notes</h1>
        <ul id="notes">
            {% for note in user.notes %}
                <li>
                    <span>{{ note.text_data }}</span>
                    <button type="button" onclick="deleteNote({{ note.id }})" class="delete-button">Delete</button>
                </li>
            {% endfor %}

        </ul>
        <form action="" method="POST">
            <textarea name="note" id="note"></textarea>
            <br />
            <div align="center">
                <button type="submit"><i class='bx bxs-edit'></i>  Add note</button>
            </div>
        </form>
    {% endblock %}