body {
  background-image: url('/static/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 60px; /* To prevent content from being hidden under the fixed nav bar */
  height: 100vh;
  margin: 0;
}

nav { 
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px; /* Adjust this value as needed */
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

nav button {
  background-color: #2A7221;
  border: none;
  cursor: pointer;
  animation: buttonFadeIn 2s ease-in forwards;
}

@keyframes colorFadeIn {
  0% { background-color: #2A7221; }
  100% { background-color: #119822; }
}

nav button, div[role="alert"] button, ul#notes button, form button {
  animation: colorFadeIn 2s ease-in forwards;
}

nav a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}

nav box-icon {
  margin-right: auto;
}

nav a:hover {
  color: #119822;
}

div[role="alert"] {
  background-color: #119822;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

div[role="alert"] button {
  background-color: #119822;
  border: none;
  cursor: pointer;
  animation: buttonFadeIn 2s ease-in forwards;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

ul#notes {
  list-style-type: none;
  padding: 0;
}

ul#notes li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  border: 2px solid #31CB00; /* Add this line */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); /* Add this line */
}


.delete-button {
  margin-left: 10px;
  order: 2;
  border-radius: 50px; /* Adjust this value as needed */
  padding: 10px 20px; /* Adjust these values as needed */
  font-size: 12px; /* Adjust this value as needed */
}

form {
  width: 80%; /* Adjust this value as needed */
  max-width: 600px; /* Adjust this value as needed */
  margin: 0 auto;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

textarea#note {
  height: 100px; /* Adjust this value as needed */
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form button {
  background-color: #119822;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  animation: buttonFadeIn 2s ease-in forwards;
  border-radius: 50px; /* Adjust this value as needed */
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.alert {
  position: fixed;
  top: 60px; /* Adjust this value as needed */
  right: 20px;
  z-index: 9999;
  animation: fadeOut 3s forwards;
  animation-delay: 3s;
}
